/*
viewport units: هي وحدات إطار العرض
تعد وحدات viewport
طريقه لتحديد حجم الاشياء بناء علي المساحه المتوفرة وحجم إطار العرض نفسة  
اطار العرض هو إما حواف نافذةالمتصفح 
 او حجم الزجاج الخاصة ربما علي شاشه الهاتف والمحمول 
 بختصار تعريف إطار العرض : علي انه الشاشه التي  يعرض المستخدم
  صفحه الويب الخاصة بك عليا وهي الابعاد المرئية لنافذة المتصفح التي ستعرض فيها
  صفحه الويب الخاصة بك 
 _______________
تمثل في :
 اطار العرض 
  وارتفاع منفذ العرض 
والحد الادني لوحدة منفذ العرض 
 والحد الاقصي لوحدة منفذ العرض 
vh: 1% of the viewport's height.
vw:  1% of the viewport's width.
vmin:  1% of the viewport's smaller dimension.
vmax:  1% of the viewport's larger dimension.

*/
header {
    height: 90vh;

}

h1 {
    font-size: 8vm;
}

p {
    font-size: 1.8vw;
}

img {
    width: 40vmin;
}

div {
    width: 67vmax;
}